@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Impact';
    src: url('/fonts/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Calibri', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Impact', sans-serif;
}

.clip-path-triangle{
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

#contact::placeholder {
  font-family: 'Impact', sans-serif; 
  font-size: 1rem; 
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #BDF0DF;
}